@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../fonts/Rubik-Regular.ttf') format('truetype');
}

body {
  background: linear-gradient(to right, #1e4151, #152c37, #12272f);
  color: #e0e0e0ff;
  justify-content: center;
  font: 'Rubik'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
}

.form-registration {
  height: 100vh;
  width: 100%;
}

.form-registration__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-registration__item {
  width: 100%;
  padding: 16px 12px 0 12px;
  height: 56px;
  max-width: 280px;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
}

.form-registration__item__input {
  font-size: 16px;
  font-weight: 400px;
  background-color: rgba(199, 199, 199, 0);
  box-shadow: inset 0 -1px 0 rgba(199, 199, 199, 0.3);
  border-color: rgb(199, 199, 199);
  color: #cececeff;
  border: none;
  margin-right: 40px;
  margin-bottom: 5px;
}

.form-registration__item__input:focus {
  outline: 0;
}

.form-registration__item__error {
  color: #ef0f18ff;
}

#form-registration__button {
  color: #b6b8bf;
  background-color: #161616ff;
  border: 1px solid #b6b8bf;
  box-sizing: border-box;
  padding: 10px 35px;
  border-radius: 50px;
  margin: 15px;
  max-width: 200px;
  max-height: 50px;
}

#form-registration__button:hover {
  color: #161616ff;
  background-color: #b6b8bf;
}

#form-registration__button:focus {
  outline: 0;
}
